.backdrop {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
  z-index: 2;
  min-height: 200px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  padding: 2rem;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);

  &__close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
}